/** General **/
* {
	margin:0;
	padding:0;
}
body {
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:100%;
	margin: 0;
	background: #FFE6ED;
	color: #000;
}
a {
	color: #003D98;
	text-decoration: none;
}
a:hover {
	color: #0065FE;
	text-decoration: underline;
}
a:visited {
	color: #0065FE;
}

/** Layout **/
#container {
	text-align: left;
	margin: 40px;
	border: solid 1px #98003E;
	-moz-box-shadow: 10px 10px 10px #C594A8;
	-webkit-box-shadow: 10px 10px 10px #C594A8;
	box-shadow: 10px 10px 10px #C594A8;
}
#header{
	background: #FFF;
	padding: 16px;
}
#menu{
	background: #98003E;
	color: #FFF;
	text-align: center;
	padding: 5px 0;
}
#content{
	background: #FFF;
	padding: 15px;
	overflow: auto;
}
#footer {
	background: #98003E;
	color: #FFE6ED;
	padding: 6px 10px;
	text-align: center;
	font-size:70%;
}