/** General **/
* {
	margin:0;
	padding:0;
}
body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
	background: #FFE6ED;
	color: #000;
}
a {
	color: #003D98;
	text-decoration: none;
}
a:hover {
	color: #0065FE;
	text-decoration: underline;
}
a:visited {
	color: #0065FE;
}

/** Layout **/
#container {
	text-align: left;
	margin: 25px;
	border: solid 1px #98003E;
	-moz-box-shadow: 10px 10px 10px #C594A8;
	-webkit-box-shadow: 10px 10px 10px #C594A8;
	box-shadow: 10px 10px 10px #C594A8;
}
#header{
	background: #FFF;
	padding: 16px;
}
#menu{
	padding-top: 12px;
	height: 26px;
	background: #98003E;
}
#content{
	background: #FFF;
	padding: 15px;
	overflow: auto;
}
#footer {
	background: #98003E;
	color: #FFF;
	padding: 6px 10px;
	text-align: center;
	font-size: 75%;
}

/** Adicionales a layout **/
#menu ul {
	list-style: none;
}
#menu li {
	height: 16px;
	padding: 4px 6px 6px 6px;
	margin-right: 1px;
	display: block;
	float: left;
	background: #FFF;
	
	-moz-box-shadow:inset 0 -5px 5px #CCC;
	-webkit-box-shadow:inset 0 -5px 5px #CCC;
	box-shadow:inset 0 -5px 5px #CCC;
}
#menu li:hover{
	background: #F1AAC7;
	-moz-box-shadow:inset 0 -5px 5px #E2528D;
	-webkit-box-shadow:inset 0 -5px 5px #E2528D;
	box-shadow:inset 0 -5px 5px #E2528D;
}
#menu a{
	height: 16px;
	padding: 0 0 0 22px;
	color: #98003E;
	text-decoration: none;
	font-weight: bold;
	background-repeat: no-repeat;
}
#menu .inicio {
	background-image: url(/sexap/icons/house.png);
}
#menu .problemas {
	background-image: url(/sexap/icons/cog.png);
}
#menu .actividades {
	background-image: url(/sexap/icons/folder_gear.png);
}
#menu .grupos {
	background-image: url(/sexap/icons/folder_user.png);
}
#menu .roles {
	background-image: url(/sexap/icons/shield.png);
}
#menu .usuarios {
	background-image: url(/sexap/icons/group.png);
}
#menu .ueas {
	background-image: url(/sexap/icons/report.png);
}
#menu .perfil {
	background-image: url(/sexap/icons/vcard.png);
}
#menu .registro{
	background-image: url(/sexap/icons/user_add.png);
}
#menu .logout {
	background-image: url(/sexap/icons/door_in.png);
}
#menu .login {
	background-image: url(/sexap/icons/key.png);
}
#menu .corner_left {
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 15px;
}
#menu .corner_right {
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
#footer a {
	color: #64A2FF;
}