/** General **/
* {
	margin:0;
	padding:0;
}
body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
	background: #FFE6ED;
	color: #000;
}
a {
	color: #003D98;
	text-decoration: none;
}
a:visited {
	color: #475F81;
}
a:hover {
	color: #0065FE;
	text-decoration: underline;
}

/** Layout **/
#container {
	text-align: left;
	margin: 25px;
	
	-moz-box-shadow: 10px 10px 10px #C594A8;
	-webkit-box-shadow: 10px 10px 10px #C594A8;
	box-shadow: 10px 10px 10px #C594A8;
	
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#header{
	background: #FFF;
	padding: 16px;
	border: solid #98003E;
	border-width: 1px 1px 0 1px;
	
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#menu{
	background: #98003E;
	border: solid #98003E;
	border-width: 0 1px 0 1px;
	
	padding-top: 12px;
	height: 26px;
}
#content{
	background: #FFF;
	border: solid #98003E;
	border-width: 0 1px 0 1px;
	padding: 15px;
	overflow: auto;
}
#footer {
	background: #98003E;
	color: #FFF;
	padding: 6px 10px;
	text-align: center;
	font-size: 75%;
	
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/** Adicionales a layout **/
#footer a {
	color: #64A2FF;
}

/** Menú **/
#menu ul {
	list-style: none;
}
#menu li {
	height: 16px;
	padding: 4px 6px 6px 6px;
	margin-right: 1px;
	display: block;
	float: left;
	background: #FFF;
	
	-moz-box-shadow:inset 0 -5px 5px #CCC;
	-webkit-box-shadow:inset 0 -5px 5px #CCC;
	box-shadow:inset 0 -5px 5px #CCC;
}
#menu li:hover{
	background: #F1AAC7;
	-moz-box-shadow:inset 0 -5px 5px #E2528D;
	-webkit-box-shadow:inset 0 -5px 5px #E2528D;
	box-shadow:inset 0 -5px 5px #E2528D;
}
#menu a{
	height: 16px;
	padding: 0 0 0 22px;
	color: #98003E;
	text-decoration: none;
	font-weight: bold;
	background-repeat: no-repeat;
}
#menu .inicio {
	background-image: url(/sexap/icons/house.png);
}
#menu .problemas {
	background-image: url(/sexap/icons/cog.png);
}
#menu .actividades {
	background-image: url(/sexap/icons/folder_gear.png);
}
#menu .grupos {
	background-image: url(/sexap/icons/folder_user.png);
}
#menu .roles {
	background-image: url(/sexap/icons/shield.png);
}
#menu .usuarios {
	background-image: url(/sexap/icons/group.png);
}
#menu .ueas {
	background-image: url(/sexap/icons/report.png);
}
#menu .perfil {
	background-image: url(/sexap/icons/vcard.png);
}
#menu .registro{
	background-image: url(/sexap/icons/user_add.png);
}
#menu .logout {
	background-image: url(/sexap/icons/door_in.png);
}
#menu .login {
	background-image: url(/sexap/icons/key.png);
}
#menu .corner_left {
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 15px;
}
#menu .corner_right {
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

/** Tablas **/
table {
	border-right:0;
	clear: both;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/** Mensajes**/
div .error-message {
	color: #fff;
	background: #F00;
	font-weight: bold;
	padding: 4px 4px 4px 24px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	background-image: url(/sexap/icons/error.png);
}
div .message {
	color: #FFF;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 4px 4px 4px 24px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
}
#authMessage {
	background-image: url(/sexap/icons/lock.png);
	background-color: #F00;
}
#flashMessage {
	background-image: url(/sexap/icons/information.png);
	background-color: #00F;
}

/** Formularios **/
div .required {
	background-position: right;
	background-image: url(/sexap/icons/asterisk_orange.png);
	background-repeat: no-repeat;
}